@use '../../../globales/variables.scss' as v;
@use '../../../globales/mixins.scss' as m;


.searchbar {
  &__close {
    &:hover {
      background-color: v.$colorPrimario;
      border-radius: 50%;
      color: v.$colorBlanco;
    }
  }
}

.anime {
  background-color: v.$colorPrimario;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  &::-webkit-scrollbar {
    margin: 2rem;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0.1);
  }

  &__image {

    img {
      object-fit: cover;
      transition: transform .3s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__name {
    color: v.$colorBlanco;
  }

  &__genre {
    text-decoration: none;
    padding: 0;
    margin: 1px;
    color: v.$colorGris;
    border-bottom: 1px solid v.$colorGris;
  }
}
