<section class="nav flex flex-wrap align-items-center justify-content-evenly my-5">

  <div routerLink="home" class="nav__logo w-20rem cursor-pointer">
    <img src="./assets/logo.png" alt="" class="nav__image w-full">
  </div>

  <nav class="nav-tablet hidden md:block">
    <p-tabMenu styleClass="text-xl" [model]="menuItems" [activeItem]="activeItem"></p-tabMenu>
  </nav>

  <nav class="nav-phone block md:hidden">
    <p-sidebar [(visible)]="navbarVisible" position="right">
        <h3 class="nav-phone__title text-2xl">Menu</h3>
        <ul class="list-group list-group-flush">
          <li
            *ngFor="let item of menuItems"
            [routerLink]="[item.routerLink]"
            class="nav-phone__item text-xl"
          >
            {{item.label}}
          </li>
        </ul>
    </p-sidebar>
    <p-button (click)="navbarVisible = true" icon="pi pi-align-justify" styleClass="w-4rem h-4rem"></p-button>
  </nav>

  <anime-search-bar class="flex align-items-center justify-content-center w-full lg:w-auto mt-7 lg:mt-0" />

</section>
