@use '../../../globales/variables.scss' as v;
@use '../../../globales/mixins.scss' as m;


.home {

  &__card {
    background-color: v.$colorPrimario;
    height: 48rem;
    width: 30rem;
    overflow: hidden;
  }

  &__image {
    width: 30rem;
    height: 37rem;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;

      transition: transform .3s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__title {
    color: v.$colorBlanco;
    font-size: 1.5rem;
    margin: 0;
  }

  &__text {
    color: v.$colorGris;

    span {
      color: v.$colorBlanco;
      cursor: pointer;
    }
  }
}



