<main class="home m-0 p-2 lg:p-5 mt-8 lg:mt-0 grid flex-row align-items-center justify-content-center">

  <div
    class="home__card border-round-lg select-none p-0 m-3"
    *ngFor="let anime of allAnimes"
  >
    <div class="home__image">
      <img [src]="anime.images['jpg'].large_image_url" [alt]="anime.title">
    </div>

    <div class="home__info p-3">
      <h3 class="home__title">{{ anime.title }}</h3>
      <p class="home__text">{{anime.synopsis | slice:0:180}}...<span> See more</span></p>
    </div>

  </div>

</main>
